h3.antyslajd {
  text-align: center;
  font-weight: bold;
  margin: 80px 0 0px 0;
  clear: both;
}

#antyslajdprogress {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background: #0faf1c;
  color: #eee;
  z-index: 2147483000;
}

.antygreen {
  color: #0faf1c;
}